/*
color-pallet

quack-quack-quack-quack text{
    quack-brown:#5a1f08;
    quack-green:#33d037;
    quack-beige:#e0d2c4;
    quack-yellow:#f1ae12;
}

buttons{
    default-button:#15DAA5;
}

*/

.title{
-fx-font-family: url(resources/fonts/JetBrainsMono-ExtraBold.ttf);
}
.textfield{
-fx-background-radius: 5px;
-fx-background-color:white;
-fx-border-color:gray;
-fx-border-radius:2px;
-fx-text-inner-color: #000000;
}

.btn{
-fx-background-color: #15DAA5;
-fx-background-radius: 5px;
-fx-font-size: 15;
}

.smallbtn{
-fx-background-color: #15ACDA;
-fx-font-size: 12;
}

.btn:pressed{
-fx-background-color:white;
-fx-text-fill:black;
}

.btn:focused,.btn:hover{
-fx-scale-x: 1.05;
-fx-scale-y: 1.05;
-fx-cursor:hand;
}


#error401{
-fx-text-fill:red;
}

.filled{
-fx-border-color:green;
}

.not-filled{
-fx-border-color:red;
}