/*
color-pallet

quack-quack-quack-quack text{
    quack-brown:#5a1f08;
    quack-green:#33d037;
    quack-beige:#e0d2c4;
    quack-yellow:#f1ae12;
}

buttons{
    default-button:#15DAA5;
}

*/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color:black;
    -fx-border-width:1px;
    -fx-border-radius:5px;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-height:2px;
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.response{
-fx-background-radius: 5px;
-fx-background-color:#15DAA5;
-fx-padding:5px;
}
.question{
-fx-background-radius: 5px;
-fx-background-color:#15DAA5;
-fx-padding:5px;
}

.forgetpassword{
-fx-border-color:none;
-fx-background-color:white;
}

.forgetpassword:focused,.forgetpassword:hover{
-fx-scale-x: 1.05;
-fx-scale-y: 1.05;
-fx-cursor:hand;
}



.textfield{
-fx-background-radius: 5px;
-fx-background-color:white;
-fx-border-color:gray;
-fx-border-radius:2px;
-fx-text-inner-color: #000000;
}

.btn{
-fx-background-color: #15DAA5;
-fx-background-radius: 5px;
-fx-font-size: 15;
-fx-font-weight: 300px;
}

.smallbtn{
-fx-background-color: #15ACDA;
-fx-font-size: 12;
}

.btn:pressed{
-fx-background-color:white;
-fx-text-fill:black;
}

.btn:focused,.btn:hover{
-fx-scale-x: 1.05;
-fx-scale-y: 1.05;
-fx-cursor:hand;
}


#error401{
-fx-text-fill:red;
}

.filled{
-fx-border-color:green;
}

.not-filled{
-fx-border-color:red;
}
